<!DOCTYPE html>
<html lang="en" ng-app="courseRegApp" ng-controller="courseRegCtrl">
<head>
    <meta charset="UTF-8">
    <title>Course Enroll</title>

    <!-- Below condition is added to maintain width and initial scale is for setting Zoom version -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Css Import -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Jquery Import for any of the function calls -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap JS Import -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Importing Angular Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    <script src = "../../../../../LAB1/Registration.js"></script>
</head>
<body>

<div class="container">

    <!-- Header tags with Inline Styling -->
    <div align="center" style="background-color: cornflowerblue;border: black 1px solid">
        <h2>Enroll for a Course</h2>
    </div>
    <br/>

    <div id="enrollCourse1">

        <!-- Responsive Table using Bootstrap -->
        <div id="course1Timings" class="table-responsive">
            <table class="table">
                <thead>

                <tr>
                    <th>Course</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>MEDPA 5581: Professional Development for the PA</td>
                    <td> <button id="course1Enroll" type="button" class="btn btn-primary center-block" ng-click="enrollOrDrop($event)">Enroll</td>
                </tr>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Available, Total Seats iteration from the List in Script -->
        <div ng-repeat="x in availableSeats" align="center">
            <strong ng-bind="x.text"></strong> :
            <span ng-bind="x.seats"></span>
        </div>
        <!-- Success Message -->
        <p align="center" style="color: red"><strong id="successEnrolling"></strong></p>

    </div>
</div>

</body>
</html>